/* Add this to your existing styles.css */

.orders-container {
    width: 400px;
    margin: auto;
    background-color: #fefefe;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding-bottom: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-bottom: 1px solid #ddd;
}

header h1 {
    font-size: 24px;
}

header .icons img {
    width: 24px;
    height: 24px;
    margin-left: 10px;
}

.order-list {
    
}

.order-item {
    
    
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
	
	display: flex;
	flex-direction: column;
    
}

.service-item {
    display: flex;
	flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
	justify-content: space-between;
	border-bottom: 1px solid #ddd;
	padding-bottom: 10px;
}
.service-item img{
   
    width: 300px;
    height: 240px;
}

.order-item img {
    margin : auto;
    width: 300px;
    height: 60px;
    border-radius: 5px;
}

.order-details {
	
    margin-left: 50px;
	
    display: flex;
    flex-direction: row;
    align-items: center;
	
	
    width: 50px;
}

.order-details p{
	margin-left: 0px
}

.order-details span{
	margin-left: 180px;
}


.service-item p {
    font-size: 24px;
	
    color: #333;
    margin-bottom: 7px;
}



.order-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    margin-left: 25%;
    width: 50%;
}

.order-button:hover {
    background-color: #0056b3;
}








html {
	
            margin: 0;
            padding: 0;
            height: 100%;
            /*overflow: hidden;  Prevent scrollbars during transitions */
            font-family: Arial, sans-serif;
           
            justify-content: center;
            align-items: center;
            background-color: #f0f0f0;
            animation: slideIn 1s forwards;
}

/* Slide in effect */
        @keyframes slideIn {
            from { transform: translateX(-100%); width: 400px;}
            to { transform: translateX(0); width: 400px;}
        }

        /* Slide out effect */
        @keyframes slideOut {
            from { transform: translateX(0); width: 400px;}
            to { transform: translateX(200%); width: 400px;}
        }	
