body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.login-container {
    background: linear-gradient(to bottom, #f0f0f0, #ffffff);
    width: 100%;
    max-width: 400px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

header img {
    width: 100%;
    height: auto;
}

main {
    padding: 20px;
}

main h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

main p {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
}

.login-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 10px;
}

.login-button:hover {
    background-color: #0056b3;
}

footer {
    background-color: #007bff;
    color: white;
    padding: 10px;
}

.contact-info a {
    display: block;
    color: white;
    margin: 5px 0;
    text-decoration: none;
}

.contact-info a:hover {
    text-decoration: underline;
}

html {
            margin: 0;
            padding: 0;
            height: 100%;
            overflow: hidden; /* Prevent scrollbars during transitions */
            font-family: Arial, sans-serif;
            
            justify-content: center;
            align-items: center;
            background-color: #f0f0f0;
            animation: slideIn 1s forwards;
}


/* Slide in effect */
        @keyframes slideIn {
            from { opacity: 0%;}
            to { opacity: 100%;}
        }

        /* Slide out effect */
        @keyframes slideOut {
            from { opacity: 100%;}
            to { opacity: 0%;}
        }		