/* Add this to your existing styles.css */

.services-container {
    width: 90%;
    max-width: 400px;
    margin: auto;
    background-color: #fefefe;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding-bottom: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-bottom: 1px solid #ddd;
}

header h1 {
    font-size: 24px;
}

header .icons img {
    width: 24px;
    height: 24px;
    margin-left: 10px;
}

.search-bar {
    padding: 20px;
    text-align: center;
}

.search-bar input {
    width: 80%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.service-list {
    padding: 20px;
}

.service-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
	border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s ease;
}
.service-item:hover, .order-item:hover {
    transform: scale(1.05);
}

.service-item img, .order-item img {
    width: 100%;
    border-radius: 5px;
}

.service-item img {
    width: 300px;
    height: 80px;
    border-radius: 5px;
    margin-right: 20px;
}

.service-item p {
    font-size: 18px;
    color: #333;
}







html {
            margin: 0;
            padding: 0;
            height: 100%;
            overflow: hidden; /* Prevent scrollbars during transitions */
            font-family: Arial, sans-serif;
           /* display: flex;*/
            justify-content: center;
            align-items: center;
            background-color: #f0f0f0;
            animation: slideIn 1s forwards;
}

/* Slide in effect */
        @keyframes slideIn {
            from { transform: translateX(-100%); }
            to { transform: translateX(0); }
        }

        /* Slide out effect */
        @keyframes slideOut {
            from { transform: translateX(0); }
            to { transform: translateX(200%); }
        }	